/node_modules/

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
/.tmp
.storage
*.log

# Pulled from CDN or NPM
/docs/engine/fonts/
/docs/engine/monaco-editor/

# User-provided files
/docs/project/